<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePAge</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
  
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
      </div>
      <form action="/delete-user" method="post">
        <fieldset>
          <legend>DELETE USER</legend>
          <input
          type="text" 
          name="id"
          value="<%= user.id %>"
          hidden
          >
          <span>Do you want to delete user_email <span style="color:red"><%= user.email %></span></span>
          <button>DELETE</button>
         
        </fieldset>
      </form>
</body>
</html>